<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}"
    th:with="titulo='Cadastro de Beats'">

<body>
    <div layout:fragment="content">
            <form th:action="@{/beats}" method="POST" th:object="${beat}">
                <input type="hidden" th:field="*{id}" class="form-control" />

                <label for="titulo" class="form-label">Título:</label>
                <input type="text" th:field="*{titulo}" class="form-control"/> <br/>

                <label for="titulo" class="form-label">Autor:</label>
                <input type="text" th:field="*{autor}" class="form-control"/> <br/>

                <label for="categoria" class="form-label">Categoria:</label>
                <select th:field="*{categoria}" class="form-select">
                    <option th:each="e : ${categorias}"
                        th:value="${e.key}"
                        th:text="${e.value}"
                        th:setected="${e.key == categoria}">
                    </option>
                </select> <br />
                <input type="submit" value="Salvar" />
            </form>
    </div>
</body>
</html>