<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta th:insert="~{/fragments/base :: headfiles}">
</head>
<body>
    <div th:replace="~{/fragments/base :: header}" />

    <div class="container">

        <div class="card">
            <div class="card-header">
                Drop Beat
            </div>
        </div>

        <form th:action="@{/beats/drop}" method="get">
            <button class="btn btn-primary" type="submit">Cadastre um beat</button>
        </form>
        <br />

        <div th:text="${mensagem}" style="color:blue; margin-bottom:10px;"></div>

        <table class="table table-stridep table-hover">
            <thead>
                <th>Título</th>
                <th>Autor</th>
                <th>Categoria</th>
            </thead>
            <tbody>
                <tr th:each="beat : ${beats}" style="padding: 3px;">
                <td><a th:href="@{/beats/edite/{id}(id=${beat.id})}" th:text="${beat.titulo}"></a></td>
                <td th:text="${beat.autor}"></td>
                <td th:text="${categorias[beat.categoria]}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>