<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beats Disponíveis</title>
</head>
<body>
    <h2>Beats disponíveis</h2>

    <form action="/beats/drop" method="get">
        <input type="submit" value="Novo cadastro" />
    </form>
    <br />

    <div th:text="${mensagem}" style="color:blue; margin-bottom:10px;"></div>

    <table border="1">
        <thead>
            <th>Título</th>
            <th>Autor</th>
            <th>Categoria</th>
        </thead>
        <tbody>
            <tr th:each="beat : ${beats}" style="padding: 3px;">
            <td><a th:href="@{/beats/edite/{id}(id=${beat.id})}" th:text="${beat.titulo}"></a></td>
            <td th:text="${beat.autor}"></td>
            <td th:text="${categorias[beat.categoria]}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>